
<div class="skill">
<div class="list">
<ul class="list-group"  >

    <li class="list-group-item list-group-item-danger" ><h4>Technical Skills</h4></li>
    <li  class="list-group-item list-group-item-primary">HTML</li>
    <li  class="list-group-item list-group-item-primary">CSS</li>
    <li  class="list-group-item list-group-item-primary">Bootstrap</li>
    <li  class="list-group-item list-group-item-primary">JavaScript</li>
    <li  class="list-group-item list-group-item-primary">Angular</li>
    <li  class="list-group-item list-group-item-primary">React</li>

</ul>
</div>

<div class="soft">
    <ul class="list-group"  >
    
        <li class="list-group-item list-group-item-danger" ><h4>Soft Skills</h4></li>
        <li  class="list-group-item list-group-item-primary">Communication</li>
        <li  class="list-group-item list-group-item-primary">Adaptability</li>
        <li  class="list-group-item list-group-item-primary">Time Manegement</li>
        <li  class="list-group-item list-group-item-primary">Teamwork</li>
        <li  class="list-group-item list-group-item-primary">Creativity</li>
        <li  class="list-group-item list-group-item-primary">Leadership</li>
    
    </ul>
    </div>
    </div>