
<div class="t1">
    <table >


        <tr >
            <th> Qualification </th>
            <th>Completed-from</th>
            <th>Passout-year</th>
            <th>Marks</th>
        </tr>    
            <tr >
                <td >B.Tech in Computer Science</td>
                <td >AMGOI,vathar(Kolhapur)</td>
                <td >2024</td>
                <td >6.58</td>
            </tr>
            <tr >
                <td >Diploma in Information Technology</td>
                <td >Sharad institute of technology polytechnic,ichalkaranji(Kolhapur)</td>
                <td >2021</td>
                <td >81.50</td>
            </tr>

            <tr class=>
                <td >SSC</td>
                <td >Kabnur highschool,Kabnur</td>
                <td >2017</td>
                <td >77.80</td>
            </tr>



</table>
</div>
