.navbar{
    padding-right: 10px;
    padding-left: 20px;
}
h2{
    font-size:xx-large;
    font-weight: 300;
    font-family: cursive;

}
.main{
    margin-left: 100px;
    margin-top: 150px;
}
.card{
    margin-left: 450px;
    
    border-color:black;
    border-radius: 10px;
    background-color:aqua;
}
.foot{
    background-color: gray;
    margin-top: 40px;
    text-align: center;
    width: 1280px;
    

}
.photo{
    margin-top: 20px;
    margin-left: 550px;
    margin-bottom: 5px;

}
img{
    border-image: 5px;
    border-color: black;
}