
<div>
<div class="add" style="width: 25rem;">
    <div class="card-body">
      <h4 class="card-title"><b>Address</b></h4>
      <p class="card-text"> <b><i>"Dattasmruti"</i></b> <br>
        Shivaji Peth,Factory Road,416116</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Ichalkaranji Dist-:Kolhapur State-:Maharashtra</h6>
    </div>

        <h6>Phone:7040138631</h6>
        <h6>Email:pushkarr09&#64;gmail.com</h6>
        <h6>Linkden:<a href="https://www.linkedin.com/in/pushkar-kumbhar-5b5756168?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
            ">Pushkar Kumbhar</a></h6>
    

</div>    
</div>