<!--<nav class="navbar" style="background-color:orange">
    <h2>Welcome !</h2>
    <div class="navbar">
    <!--<button class="btn btn-primary" routerLink="home">Home</button>&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="education" type="submit">Education</button>&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="skills" type="submit">Skills</button>&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="contact" type="submit">Contact us</button>&nbsp;&nbsp;
    </div>

</nav>-->
    <div class="photo">
      <img src="../assets/photo/SAVE_20230411_2106371.jpg" height="200px" width="200px">
    </div>

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h4 class="card-title">Hi,I am Pushkar</h4>
    <h6 class="card-subtitle mb-2 text-body-secondary">Front-End Developer</h6>
    <p class="card-text">Looking forward to an opportunity for working in a dynamic, challenging environment, where I can utilize my skills for developing my career and for the growth of the organization.
    </p>
    
  </div>
</div>
<div class="foot">
  <h3>All COPYRIGHTS RESERVED 2024</h3>
</div>
